<!DOCTYPE html>
<html lang="en">
<head>
	<title>Register | <%= home.title %></title>
	<%- include('../../home/views/partials/head.ejs') %>
	<%- include('../../home/views/partials/styles.ejs') %>
	<link rel="stylesheet" href="/home/public/css/calendar.min.css">
	<link rel="stylesheet" href="/contacts/public/css/contacts.css">
</head>
<body class="calm-bg">
	<%- include('../../home/views/partials/navbar.ejs') %>
	<div class="ui container">
		<div class="ui stackable centered grid">
			<div class="four wide column">
				<div class="ui segment" style="margin-top: 100px;">
					<form action="/api/signup" method="POST" class="ui form" id="user-form">
						<div class="field">
							<label for="email">Email</label>
							<div class="ui left icon input">
								<input type="text" name="email" placeholder="johndoe@gmail.com">
								<i class="at icon"></i>
							</div>
						</div>
						<div class="field">
							<label for="username">Username</label>
							<div class="ui left icon input">
								<input type="text" name="username" placeholder="johnd">
								<i class="user icon"></i>
							</div>
						</div>
						<div class="field">
							<label for="password">Password</label>
							<div class="ui left icon input">
								<input type="password" name="password" placeholder="Password">
								<i class="lock icon"></i>
							</div>
						</div>
						<input type="submit" value="Sign Up" class="ui basic green button" id="add-user">
					</form>
				</div>
			</div>
		</div>
	</div>
	<%- include('../../home/views/partials/scripts.ejs') %>
	<script>
		$('#add-user').on('click', function(e){
			e.preventDefault();
			$.ajax({
				url: '/api/signup',
				type: 'POST',
				data: $('#user-form').serialize(),
				success: function(data, status, xhr){
					if(xhr.status == 201){
						window.location = "/contacts/welcome";
					}
				}
			})
		});
	</script>
</body>
</html>