<!DOCTYPE html>
<html lang="en">
<head>
	<title>Signed Out | <%= home.title %></title>
	<%- include('../../home/views/partials/head.ejs') %>
	<%- include('../../home/views/partials/styles.ejs') %>
	<link rel="stylesheet" href="/home/public/css/calendar.min.css">
	<link rel="stylesheet" href="/contacts/public/css/contacts.css">
</head>
<body class="calm-bg">
	<%- include('../../home/views/partials/navbar.ejs') %>
	<div class="ui text container">
		<br />
		<h1 class="ui white header">We're already missing you. <a href="/signin">Come</a> back soon.</h1>
	</div>
	<%- include('../../home/views/partials/scripts.ejs') %>
</body>
</html>